

.film-card, .tv-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 420px;
    padding: 5px;
    margin: 8px auto;
    border-radius: 10px;
    position: relative;
}

.film-card {
    background-color: rgb(154, 36, 36);

}

.tv-card {
    background-color: #6F5E3C;

}

.card-poster-img, .poster-not-available {
    border-radius: 10px;
    width: 100%;
    height: 275px;
}

.tv-card .poster-not-available, .film-card .poster-not-available{
    border: none;
    width: 190px;
}



.card-poster-img:hover {
    cursor: pointer;
}

.card-info{
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
    font-weight: bold;
}

.card-btns{
    padding: 0 2px;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;

}

.add-to-watch-btn, .remove-from-to-watch-btn, .mark-as-watched-btn, .unmark-as-watched-btn {
    border-radius: 50%;
    background-color: transparent;
    border: none;
    width: 2.3em;
    height: 2.3em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}


.add-to-watch-btn {
    background-color: #71BC78	;
    border: 2px solid #71BC78;

}

.remove-from-to-watch-btn {
    background-color: #fcaeb8;
    border: 2px solid #fcaeb8;

}

.mark-as-watched-btn {
    background-color: #FFDB58;
    border: 2px solid #FFDB58;
}

.unmark-as-watched-btn {
    background-color: black	;
    border: 2px solid black	;
}


.add-to-watch-btn:hover, .remove-from-to-watch-btn:hover, .mark-as-watched-btn:hover, .unmark-as-watched-btn:hover {
    transform: scale(1.3);
    transition: 0.3s;
    cursor: pointer;
}



@media (max-width: 550px) {
    .card {
        width: 45%;
    }
  
}