.header {
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: center;
    background-color: darkred;
    color: #FFDB58;
    z-index: 100;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: Tahoma, sans-serif;
    font-size: 1.25vw;
    
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 5vw;
    padding-bottom: 0;
    font-family: 'uppereastsideregular';


}


@media (max-width:1200px) {
    .header {
        padding-top: 20px;
        font-size: 2.5vw;
    }
    .header-title {
        font-size: 6vw;
        gap: 1.5em;
    }
    

}